/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(80, 215, 146);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(20, 183, 220);
}
.navbar.sticky .menu li a:hover{
    color: #0c0c0b;
}

.myicon a{
    opacity: 1;
}

.myicon a:hover{
    opacity: 0.3;
}
/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: darkkhaki;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
    background: url("images/The\ 12\ Best\ Dark\ Wallpaper\ Sites\ for\ Dark\ Desktop\ Backgrounds.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(33, 203, 230);
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: rgb(191, 179, 48);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(153, 181, 49);
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: rgb(14, 18, 13);
    background: lightgoldenrodyellow;
}

/* about section styling */
/* .about .title::after{
    content: "who i am";
} */
.about .about-content .left{
    width: 45%;
}
.typing-3{
    color: rgb(103, 9, 140);
    font-size: larger;
    font-weight: 600;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}
/* .about{
    background: linear-gradient(1.0turn, #72a1b6, #b0a1af, #85a779);

} */
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(20, 207, 220);
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: lightsalmon;
    color: rgb(12, 2, 2);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid rgb(124, 79, 61);
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: rgb(14, 1, 3);
    background: rgb(104, 199, 150);
}
.about p{
    color: rgb(66, 53, 8);
    padding: 6px;
    word-spacing: 5px;
}

/* services section styling */
.services, .teams{
    color:#fff;
    background: #111;
    background-image: url(./images/slider-services-background.jpg);
    background-position: center;
    background-size: cover;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    content: "";
    background-color: #2786a6 ;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #b8d29e;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 20px;
    border: 1px double black;
    /* opacity: 0.5; */
}
.services .serv-content .card:hover{
    background: rgb(130, 119, 205);
    /* opacity: 1; */
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: rgb(197, 26, 61);
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: rgb(226, 175, 8);
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.card p{
    color: #660b20;
}

/* skills section styling */

.skills .title::after{
    content: "what i know";
}
/* .skills{
    background: linear-gradient(1.0turn, #72a1b6, #b0a1af, #85a779);
} */

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: rgb(61, 85, 164);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(62, 137, 187);
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(49, 105, 157);
}
.skills p{
    color: rgb(90, 117, 7);
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 70%;
}
.skills-content .right .java::before{
    width: 60%;
}
.skills-content .right .js::before{
    width: 70%;
}
.skills-content .right .react::before{
    width: 50%;
}
.skills-content .right .NodeJs::before{
    width: 90%;
}
.skills-content .right .mysql::before{
    width: 80%;
}

/* teams section styling */
.teams .title::after{
    content: "";
    color: #660b20;
    background: linear-gradient(1.0turn, #72a1b6, #b0a1af, #85a779);
}
.teams h2{
    color: yellow;
}
.text{
    color: black;
}
.teams{
    /* background-color: rgb(83, 83, 70);
    background: linear-gradient(1.0turn, #72a1b6, #b0a1af, #85a779); */
    background-image: url(./images/moon.jpg);
    background-position: center;
    background-size: cover;
}
.teams .carousel .card{
    background: rgb(126, 199, 195);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid black;
    border-radius: 50px;
    opacity: 1;
}
.teams .carousel .card:hover{
    background: rgb(171, 190, 85);
    opacity: 1;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #1f91b7;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid rgb(71, 67, 180)!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: rgb(79, 186, 47)!important;
}

/* contact section styling */
.contact .title::after{
    content: "";
}
/* .contact{
    background: linear-gradient(1.0turn, #72a1b6, #b0a1af, #85a779);

} */

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact p{
    color: rgb(159, 120, 11);
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
    opacity: 1;
}
.contact .contact-content .row .info:hover{
    margin-left: 30px;
    opacity: 1;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: rgb(157, 75, 146);
  border: 2px solid rgb(93, 35, 85);
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}

.form__wrapper {
	padding: 0 0;
}
.form__wrapper:hover {
	padding: 0 0;
}
.form__wrapper form {
	display: grid;
	grid-template-columns: 1fr;
}
.form__group label {
	font-size: 1rem;
	font-family: Poppins;
	color: black;
	font-weight: 500;
}
.form__group input{
    width: 100%;
    height: 10%;
	border: 1px solid black;
	background-color: rgb(172, 206, 226);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: 1rem;
	border-radius: 8px;
	margin-top: 0.5rem;
	color: black;
}
.form__group select {
	width: 100%;
    height: 10%;
	border: 1px solid black;
	background-color: rgb(172, 206, 226);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	padding: 1rem;
	border-radius: 8px;
	margin-top: 0.5rem;
	color: black;
}
.form__group textarea{
    width: 100%;
    height: 80px;
	border: 1px solid black;
	background-color: rgb(172, 206, 226);
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 50;
	padding: 0.5rem;
	border-radius: 8px;
	margin-top: 0.5rem;
	color: black;
}

.form__group textarea {
	resize: vertical;
    padding: none;
}
.form__wrapper button[type='submit'] {
	width: max-content;
	border: 1px solid;
	padding: 0.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
    border-radius: 10px;
}

.btn {
	color: rgb(8, 4, 4);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	border-radius: 8px;
	font-size: 1rem;
	padding: 0.5rem 0.5rem;
}
.primary-btn {
	color: rgb(15, 16, 10);
	background: rgb(205, 208, 159);
}
.primary-btn:hover {
	color: rgb(251, 249, 252);
	background: rgb(6, 172, 53);
}


/* footer section styling */
footer{
    background: #4f6366;
    padding: 5px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(203, 218, 223);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}



/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
@media (max-width: 500px) {
    .form__group input,
    .form__group select {
	width: 100%;
    height: 10%;
	border: 1px solid black;
	/* background-color: rgb(172, 206, 226); */
	font-size: 1rem;
	font-family: Raleway;
	font-weight: 500;
	padding: 1rem;
	border-radius: 8px;
	margin-top: 0.5rem;
	color: rgb(12, 18, 12);
}
}

@media (max-width: 400px) {
    .form__wrapper button[type='submit'] {
        border: 1px solid;
        padding: 0.5rem 100rem;
    }
}

